//Question part

.question{
	margin-top: 2.5rem;
	font-size: 1em;
}

.radio{
	display: flex;
	justify-content: flex-start;
}
.radio{
	margin-top: 1rem;
}

.answer-1{
	margin-right: 1rem;
}
.asw-ul{
	padding: 0;
	margin: 0;
}

.question-btn{
	margin-top: 8vh;
	display: flex;
	justify-content: space-between;
}
.asw-li{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.asw-li input:hover {
	cursor: pointer;
}

/*Buttons styles*/
.add-home{
	color: #fff;
	background-color: #BBCC29;
	border-color: rgb(192, 202, 100);
}


@media (min-width: 768px) {
	.content-wrapper{
		width: 80%;
		margin: 0 auto ;
	}
 }